<h1 class="text-center text-uppercase">Branches</h1>
<div class="table-responsive margin-top-30">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Opening Time</th>
        <th>Closing Time</th>
      </tr>
    </thead>
    <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.opening_time.strftime("%I:%M %p") %></td>
          <td><%= branch.closing_time.strftime("%I:%M %p") %></td>
          <td><%= link_to 'Edit', edit_admin_branch_path(branch),class: 'btn btn-danger btn-site-primary text-uppercase' %></td>
          <td><%= link_to 'Destroy', admin_branch_url(branch),class: 'btn btn-danger btn-site-primary text-uppercase' , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Branch', new_admin_branch_url, class: 'btn btn-danger btn-site-primary text-uppercase'%>

