<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel login-form">
      <div class="panel-heading text-center text-uppercase">
        Forgot Password
      </div>
      <div class="panel-body">
        <%= form_for :user, url: reset_password_url, method: 'patch', html: { class: "form-horizontal" } do |form| %>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= email_field_tag :email, params[:email], class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= form.label :email, 'Enter Your Email', class: "control-label", :'data-id'=>"control-label" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%#<%= form.submit 'submit', class: 'btn btn-danger' %>
              <%= button_tag(type: 'submit', class: "btn btn-danger btn-site-primary btn-lg btn-block text-uppercase") do %>
                Continue<i class="fa fa-chevron-right padding-5" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="traversal-link text-center">
          <%= link_to 'New User?', new_user_path %>
        </div>
      </div>
    </div>
  </div>
</div>
