<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel login-form">
      <div class="panel-heading text-center text-uppercase">
        Log in
      </div>
      <div class="panel-body">
        <%= form_tag({}, {class: 'form-horizontal'}) do %>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= email_field_tag :email, params[:email], class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= label_tag :email, 'Email', class: "control-label", :'data-id'=>"control-label" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= password_field_tag :password, params[:password], class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= label_tag :password, 'Enter your password', class: "control-label", :'data-id'=>"control-label" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :remember_me do %>
              <div class="col-sm-12">
                <%= check_box_tag :remember_me, params[:remember_me]%>
                <span class="checkbox-label">Remember me on this computer</span>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= submit_tag 'log in', class: 'btn btn-danger btn-site-primary btn-lg btn-block text-uppercase' %>
            </div>
          </div>
        <% end %>
        <div class="traversal-link text-center">
          <%= link_to 'New User?', new_user_path %> |
          <%= link_to 'Forgot Password', reset_password_path %>
        </div>
      </div>
    </div>
  </div>
</div>

