<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel login-form">
      <div class="panel-heading text-center text-uppercase">
        Forgot Password
      </div>
      <div class="panel-body">
        <%= form_for @user, url: edit_user_password_url, html: { class: "form-horizontal" } do |form| %>
          <%= render 'shared/errors' , model: @user %>
          <%= hidden_field_tag :email, @user.email %>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.password_field :password, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= form.label :password, "Enter your new password", class: "control-label", :'data-id'=>"control-label" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.password_field :password_confirmation, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= form.label :password_confirmation, "Confirm your password", class: "control-label", :'data-id'=>"control-label" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= form.submit 'Update Password', class: 'btn btn-danger btn-site-primary btn-lg btn-block text-uppercase' %>
            </div>
          </div>
        <% end %>
        <div class="traversal-link text-center">
          <%= link_to 'New User?', new_user_path %>
        </div>
      </div>
    </div>
  </div>
</div>